<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="load_jointfile_path" default="true"/>
  <arg name="load_ttl_path" default="true"/>

  <rosparam file="$(find skin_model)/config/config.yaml" command="load" />
 
   <!-- set load_jointfile_path flag -->
  <group if="$(arg load_jointfile_path)">
    <param name="file_name"  value="$(find skin_model)/config/joint_names.yaml" />
  </group>
 
  <group if="$(arg load_ttl_path)">
    <param name="ttl_file"  value="$(find skin_model)/config/pse_rand_ttl.yaml" />
  </group>

  <!-- Launch empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg   name="world_name" value="$(find skin_model)/worlds/skin_model.world"/>
  </include>
  
</launch>
