<model>
<name>plunger_ft_sensor</name>
<version>1.0</version>
<sdf>plunger_ft_sensor.sdf</sdf>
<author>
	<name>Sven Cremer</name>
	<email>somebody@somewhere.com</email>
</author>
<description>Plunger for calibrating skin array. The plunger joint has a FT sensor. Without the fake link, the FT value is always zero.</description>
</model>
