<?xml version='1.0'?>                     
                                          
<model>                                   
  <name>spring_array35</name>       
  <version>1.0</version>                  
  <sdf >spring_array35.sdf</sdf>    
                                          
  <author>                                
    <name>Isura Ranatunga</name>          
    <email>isura@ieee.org</email>         
  </author>                               
                                          
  <description>                           
    A Simple spring_array35          
  </description>                          
</model>                                  
